{% extends "base.html" %} {% load crispy_forms_tags %} {% block title_block %}
Quiz {% endblock %} {% block body_block %}
{%if user.user_profile.role == 'teacher'%}
  <h3 class="text-center">Post A Quiz</h3>
  <form class="write-article" method="POST">
    {{form|crispy }}
    {%csrf_token%}
    <button name="post_article" type="submit" class="btn btn-primary w-100">Post</button>
  </form>
{%else%}
<div style="w-100 ;display: flex; align-items: center; justify-content: center; flex-direction: column;">
  <h5>Rules</h5>
  <ul>
    <li>You can submit answer of a quiz only one time.</li>
    <li>You must submit the answer before last time.</li>
  </ul>
</div>
{%endif%}
<h1 class="text-center m-3" style="text-decoration: underline;">Quizzes</h1>
{%if quizzes|length == 0%}<h4 class='text-center mt-4' style="opacity: 0.6;">No Quiz To Show</h4>{%endif%}

{%for quiz in quizzes%}
  <div class="modal fade" id="delete{{quiz.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLabel">Are You Sure To Delete This Quiz?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a type="button" class="btn btn-danger" href="{%url 'App_Teacher:quiz_delete' pk=quiz.pk%}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="quiz">
    <div class="quiz-head">
        <h3 class="text-center">Question: {{quiz.question}}</h3>
        <p>Last Time: {{quiz.end_on}}</p>
    </div>
    {%if user.user_profile.role == 'teacher' and user == quiz.user%}
    <div class="ml-auto">
        <a class="btn btn-sm btn-warning m-1" href="{%url 'App_Teacher:quiz_edit' pk=quiz.pk%}">Edit Quiz</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#delete{{quiz.id}}">
          Delete Quiz
        </button>
      </div>
    {%endif%}
    <div class="quiz-options">
        <p>A | {{quiz.option_1}}</p>
        <p>B | {{quiz.option_2}}</p>
        <p>C | {{quiz.option_3}}</p>
        <p>D | {{quiz.option_4}}</p>
    </div>
    {%if user.user_profile.role == 'student'%}
    <form method="POST" class="quiz-answer">
        {%csrf_token%}
        {{answerForm|crispy}}
        <input type="hidden" name="quiz_id" value="{{quiz.pk}}" />
        <button name="quiz_answer_quiz" type="submit" class="btn btn-warning btn-sm">Submit</button>
    </form>
    {%endif%}
  </div>
{%endfor%}
{% endblock %}
